.table-data-any td {
    padding: 5;
    border: 1pt solid black;
    margin: 0;
}

.table-data-any {
    border-spacing: 0;
    border-collapse: collapse;
    margin: 10pt;
}

th {
    text-align: left;
    padding: 2pt 20pt 2pt 2pt;
}

th:last-child {
    padding: 2pt 2pt 2pt 2pt;
}

#error-name {
    font-weight: bold;
    color: red;
}

#error-box {
    display: none;
}

#table-data-deleted {
    display: none;
}
